*{
    padding: 0px;
    margin: 0px;
}

.loginform{
    height: 100px;
    width: 100px;
}

































/*.container{
    width : 40%;
    height: 120%;
    background-color: pink;
    align-items: left;

}
*/
/**{
    padding: 0px;
    margin: 0px;
}*/

/*body{
    align-items: center;
    display: flex;
    flex-direction: column;
}
*/
/*.loginform{
    height: 100px;
    width: 100px;
    background-color: pink;
    color: white;
}*/


/*.email{
    height: 100px;
    width: 100px;
}*/
/*


.container.card{
    width: 70%;
    height: 80%;
    background-color: white;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;


}*/
/*.form-group{
    padding: 10px;

}

.form-control{
    padding: 10px;

}
*//*.register-btn{
    width: 80px;
    height: 30px;
    border-radius: 0.5rem;
    font-size: 1rem;*/
/*    border : 2px solid #000;*/

/*}*/

/*.login-btn{
    width: 60px;
    height: 30px;
    border-radius: 0.5rem;
    font-size: 1rem;
}*/
/*.dashboard{
    margin-right: 120px;
    padding: 20px;
    align :left;
}

*/
