*{
	margin: 0;
	padding: 0;
}

.container{
	padding-right: 50px;
	display: flex;
	justify-content: right;
}

h2{
	display: flex;
	justify-content: center;
	padding-top: 0;
	margin-top: 0;
}

.header{
	width: 300px;
	height: min-content;
	background-color: lightblue;
	padding: 50px;
}

.search-box{
	padding-top: 10px;
	gap: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.temperature{
	display: flex;
	justify-content: center;
	padding-top: 30px;
	font-size: 30px;
}

.temperature sup{
	font-size: 15px;
}

.weather-details{
	display: flex;
	justify-content: center;
	gap: 10px;
	flex-direction: row;
}

.current{
	margin-top: 50px;
	padding-left: 50px;
	padding-top: 50px;
	margin-left: 50px;
	display: flex;
	justify-content: right;
	width: 200px;
	height: 100px;
	background-color: lightblue;
	gap: 10px;
	flex-direction: column;
}

/*.loginform{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;


	   
	padding: 10;
	margin: 10;
	color: 	white;
	background-color: chocolate;
}

.email{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	padding : 10;
	color: white;
	background-color: chocolate;
	margin : 10;
}

*/